body {
    margin: 0;
    padding: 0;
}
.main-body {
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    background: linear-gradient(#999999, #101010);
    position: absolute;
    /* border: solid 2px red; */
}
.content-body {
    background: transparent;
    width: 813px;
    height: 813px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    /* border: solid 2px red; */
}
.first-row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    flex-direction: row;
    /* border: solid 2px red; */
}
.place {
    width: 200px;
    height: 200px;
    background: transparent;
    /* border: solid 2px red; */
}
.img-part1 {
    width: 200px;
    height: 200px;
    border: solid 4px white;
}
.flag1 {
    width: 200px;
    height: 200px;
    background: transparent;
    margin-left: 8px;
    /* border: solid 2px red; */
}
.img-part2 {
    width: 200px;
    height: 200px;
    border-bottom: solid 4px white;
    border-top: solid 4px white;
    border-left: solid 4px white;
}
.flag2 {
    width: 200px;
    height: 200px;
    background: transparent;
    /* border: solid 2px red; */
}
.img-part3 {
    width: 200px;
    height: 200px;
    border-bottom: solid 4px white;
    border-top: solid 4px white;
    border-right: solid 4px white;
}
.map {    
    width: 200px;
    height: 200px;
    background: transparent;
    margin-left: 4px;
    /* border: solid 2px red; */
}
.img-part4 {
    width: 200px;
    height: 200px;
    border: solid 4px white;
}
.second-row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    flex-direction: row;
    /* border: solid 2px red; */
}
.fav-hobby1 {
    width: 200px;
    height: 200px;
    background: transparent;
    margin-top: 8px;
    /* border: solid 2px red; */
}
.img-part5 {
    width: 200px;
    height: 200px;
    border-top: solid 4px white;
    border-right: solid 4px white;
    border-left: solid 4px white;
}
.fav-food {
    width: 200px;
    height: 200px;
    background: transparent;
    margin-top: 8px;
    margin-left: 8px;
    /* border: solid 2px red; */
}
.img-part6 {
    width: 200px;
    height: 200px;
    border: solid 4px white;
}
.portfolio1 {
    width: 200px;
    height: 200px;
    background: transparent;
    margin-top: 8px;
    margin-left: 8px;
    /* border: solid 2px red; */
}
.img-part7 {
    width: 200px;
    height: 200px;
    border-bottom: solid 4px white;
    border-top: solid 4px white;
    border-left: solid 4px white;
}
.portfolio2 {
    width: 200px;
    height: 200px;
    background: transparent;
    margin-top: 8px;
    margin-left: 4px;
    /* border: solid 2px red; */
}
.img-part8 {
    width: 200px;
    height: 200px;
    border-bottom: solid 4px white;
    border-top: solid 4px white;
    border-right: solid 4px white;
}
.third-row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    flex-direction: row;
    /* border: solid 2px red; */
}
.fav-hobby2 {
    width: 200px;
    height: 200px;
    background: transparent;
    /* border: solid 2px red; */
}
.img-part9 {
    width: 200px;
    height: 200px;
    border-bottom: solid 4px white;
    border-right: solid 4px white;
    border-left: solid 4px white;
}
.fav-place {
    width: 200px;
    height: 200px;
    background: transparent;
    margin-top: 8px;
    margin-left: 8px;
    /* border: solid 2px red; */
}
.img-part10 {
    width: 200px;
    height: 200px;
    border: solid 4px white;
}
.github {
    width: 200px;
    height: 200px;
    background: transparent;
    margin-left: 8px;
    margin-top: 8px;
    /* border: solid 2px red; */
}
.img-part11 {
    width: 200px;
    height: 200px;
    border: solid 4px white;
}
.profile1 {
    width: 200px;
    height: 200px;
    background: transparent;
    margin-top: 8px;
    margin-left: 8px;
    /* border: solid 2px red; */
}
.img-part12 {
    width: 200px;
    height: 200px;
    border-top: solid 4px white;
    border-right: solid 4px white;
    border-left: solid 4px white;
}
.forth-row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    flex-direction: row;
    /* border: solid 2px red; */
}
.social-media1 {
    width: 200px;
    height: 200px;
    background: transparent;
    margin-top: -4px;
    /* border: solid 2px red; */
}
.img-part13 {
    width: 200px;
    height: 200px;
    border-bottom: solid 4px white;
    border-top: solid 4px white;
    border-left: solid 4px white;
}
.social-media2 {
    width: 200px;
    height: 200px;
    background: transparent;
    margin-left: 4px;
    margin-top: 8px;
    /*border: solid 2px red; */
}
.img-part14 {
    width: 200px;
    height: 200px;
    border-bottom: solid 4px white;
    border-top: solid 4px white;
    border-right: solid 4px white;
}
.code-pen {
    width: 200px;
    height: 200px;
    background: transparent;
    margin-top: 8px;
    margin-left: 4px;
    /* border: solid 2px red; */
}
.img-part15 {
    width: 200px;
    height: 200px;
    border: solid 4px white;
}
.profile2 {
    width: 200px;
    height: 200px;
    background: transparent;
    margin-top: 4px;
    margin-left: 8px;
    /* border: solid 2px red; */
}
.img-part16 {
    width: 200px;
    height: 200px;
    border-bottom: solid 4px white;
    border-right: solid 4px white;
    border-left: solid 4px white;
}
